
@{
    ViewData["Title"] = "Txt Index";
}
<ul>
    @for (int i = 0; i < ((string[])ViewData["lstFileNames"]).Length; i++)
    {
        @*<li>@(((string[])ViewData["lstFileNames"])[i])</li>*@
        <li>@Html.ActionLink(
    ((string[])ViewData["lstFileNames"])[i],
    "Details",
    "TxtDetails",
    new { fn=((string[])ViewData["lstFileNames"])[i]}
    )</li>
    }
</ul>
<h2>View</h2>

