
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

@*<p>@Html.Label((string)ViewData["content"], "contents:", null)</p>*@
@*@Html.Label((string)ViewData["content"], "contents:", null)*@
@ViewData["content"]